services:
  db:
    image: postgres:16.6
    container_name: zocial_db
    environment:
      POSTGRES_DB: zocial
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
volumes:
  db_data:
